*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  background-color: #FFF;
}


.menu{
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding:3% 3%;
  background-color: #65DCB9;
  font-size: 150%;
}
a{
  color: #FFF;
  text-decoration: none;

}
a:hover{
  color: #B68ED2;
  background-color: #FFF;
  padding: 20%;
  border-radius: 30%;

}
 /* Seccion 1 ------ */

 #home{
   background-image: url("../images/home.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 500px;

 }

 h1{
   color: #7D3C98;
   font-size: 500%;

}


 }
