*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  background-color: #FFF;
}


.menu{
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding:3% 3%;
  background-color: #65DCB9;
  font-size: 150%;
}
a{
  color: #FFF;
  text-decoration: none;

}
a:hover{
  color: #B68ED2;
  background-color: #FFF;
  padding: 20%;
  border-radius: 30%;
}
 /* Seccion 1 ------ */

 #home{
   background-image: url("../images/home.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 500px;
 }

 h1{
   color: #7D3C98;
   font-size: 500%;
}
 /* --- Seccion2 ----*/
.contenido_seccion2{
  background-color: #38D67B;
  /*color: #FFF; */

}

.encabezado_secciones{
  display: flex;
  justify-content: center;
  font-size: 250%;
  padding: 5%;
  margin: 0;
  color: #FFF;
}
 .contenedorDeParrafoImagen{
   display: flex;
   justify-content: center;

 }
  .contenedorDeParrafoImagen img{
    display: flex;
    width: 30%;
    height: 30%;
  }
  .contenedorDeParrafoImagen p{
    display: flex;
    font-size: 200%;
    padding: 20px;
    color: #FFF;
  }

 .parrafo_seccion2{
   justify-content: flex-end;
 }

 /* ----- Seccion 3 video ----*/
.seccion_video{
  background-color: #A473B9;
  padding-bottom: 5%;
}
 .contenedor_video{
   display: flex;
   justify-content: center;
 }

 /* ----- Seccion 4 Formulario ---- */

 .contenedor_formulario{
   background-color: #91B1C7;



 }

 .formulario{
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;

}

input{
  margin: 1%;
  width: 30%;
}

textarea{
  margin: 1%;
  width: 30%;
  height: 100%;
}

button{
  background-color: #3765C8;
  border-radius: 10%;
  border: none;
  color: #FFF;
  width: 10%;
  padding: 1%;
  margin-bottom: 3%;
}
